@import "custom";
@import "base";
@import "variables";
@import "mixins";
@import "materialinput";

.btn {
  font-size: 18px!important;

  &.btn-green {
    @include button($green);
  }
  &.btn-outline-green {
    @include button-outline($green);
  }

  &.btn-light-green {
    @include button($light-green, black);
  }
  &.btn-outline-light-green {
    @include button-outline($light-green, black);
  }

  &.btn-google {
    @include button-outline(#DB4437);
    box-shadow: none;
  }

  &.btn-facebook {
    @include button-outline(#4267B2);
    box-shadow: none;
  }
  &:active {
    box-shadow: none!important;
  }
}
