@import "variables";

// variable overrides
$input-bg: transparent;
$component-active-color: $light-dark;
$component-active-bg: $green;
// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";
