@mixin text-stroke-shadow($color, $width, $glow:0.8) {
  color: transparent;
  -webkit-text-stroke: $width $color;
  text-shadow: 0 0 36px rgba($color,$glow);
}

@mixin block-shadow($color) {
  box-shadow: 0 5px 20px rgba($color, 0.65);
}

@mixin button($color) {
  @include block-shadow($color);
  background-color: $color;
}

@mixin button-outline($color) {
  @include block-shadow($color);
  color: $color!important;
  text-transform: capitalize;
  border: 3px solid $color;
  box-sizing: border-box;
  &:hover {
    background-color: $color;
    color: white!important;
  }
  &:active {
    box-shadow: none;
  }
}
