@mixin text-stroke-shadow($color, $width) {
  color: $color;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: $width;
  -webkit-text-stroke-color: $color;
  text-shadow: 0 0 20px rgba($color, .4);
}

@mixin block-shadow($color) {
  box-shadow: 0 5px 20px rgba($color, 0.65);
}

@mixin button($color) {
  @include block-shadow($color);
  background-color: $color;
}
