@import "custom";
@import "base";
@import "variables";

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #FFC701;
  text-shadow: 0px 0px 20px rgba(255, 199, 1, 0.2);

}


