@import "../components/variables";
@import "../components/text";
@import "../components/userImage";

.carousel {
  .carousel-control-prev, .carousel-control-next {
    width: 120px;
    z-index: 5;
  }
  .btn {
    border-radius: 5px;
  }
  .carousel-inner {
    .carousel-item {
      border-radius: $border-radius-md;
      background: $violet;
      position: relative;
      z-index: 2;
      .bg-image-container {
        position: absolute;
        display: inline-block;
        .bg-image {
          border-radius: $border-radius-md;
          height: 100%;
          object-fit: cover;
        }
        &::before {
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          display: block;
          background-image: linear-gradient(to left, $violet 5%, transparent 30%);
        }
      }
      .content {
        padding: 58px 130px;
        .title {
          color: #FFFFFF;
          opacity: 0.8;
          padding-left: 30%;
        }
        .text {
          width: 50%;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .carousel-control-prev, .carousel-control-next {
      width: 60px;
    }
    .carousel-inner {
      .carousel-item {
        .content {
          padding: 30px 60px;
          .title {
            padding: 0;
          }
          .text {
            width: 100%;
          }
        }
      }
    }
  }
}

.imageList {
  img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: $border-radius-lg;
    @media screen and (max-width: 1440px) {
      height: 140px;
    }
    @media screen and (max-width: 1024px) {
      height: 120px;
    }
    @media screen and (max-width: 600px) {
      height: 100px;
    }
    @media screen and (max-width: 480px) {
      height: 70px;
    }
  }
}

.small-col {
  width: 400px;
}

.slick-dots{
  width:100%;
  padding:0px;
  margin: 0px 0px 30px;
  list-style-type:none;
  text-align:center;
}

.slick-dots li{
  display:inline-block;
  width:15px;
  height:15px;
  background:Transparent;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  -webkit-border-radius:50%;
  border-radius:50%;
  border: 2px solid #3A3258;
  margin:0 2.5px;
  cursor:pointer;
  position:relative;
}

.slick-dots li.slick-active{
  background:#7750F8;
  -webkit-box-shadow:inset 0 0 0 2px rgba(0,0,0,.28);
  box-shadow:inset 0 0 0 2px rgba(0,0,0,.28);
}

.slick-dots li button{
  position:absolute;
  bottom:100%;
  left:50%;
  width:120px;
  height:75px;
  display:block;
  visibility:hidden;
  border:4px solid rgba(0,0,0,.50);
  margin-left:-60px;
  margin-bottom:15px;
  -webkit-transition:visibility 0.5s linear 0.5s;
  transition:visibility 0.5s linear 0.5s;
  -webkit-animation:fadeOut 0.5s both;
  animation:fadeOut 0.5s both;
}

@media screen and (max-width: 992px) {
  .item {
    font-size: 12px;
    .reviews {
      .material-icons {
        font-size: 18px;
      }
    }
    .reviews, .rating {
      font-size: 10px;
    }
    .price {
      font-size: 18px;
    }
    .user-image {
      width: 30px;
      height: 30px;
    }
  }
}
