@import "mixins";
@import "variables";

@mixin alert-mixin($color, $textColor) {
  background: rgba($color, 0.15)!important;
  border: 2px solid $color;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba($color, 0.7);
  border-radius: 10px;
  .title {
    color: $color;
  }
  .text {
    color: rgba($textColor, 0.8);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2em;
  }
}

.alert {
  &.alert-small {
    .title {
      font-size: 14px;
    }
  }

  &.alert-danger {
    @include alert-mixin(#EE2A58, #FEB3C5);
  }
  &.alert-success {
    @include alert-mixin(#40D04F, #DFFBE2);
  }
  &.alert-warning {
    @include alert-mixin(#FFC701, #FFF8DE);
  }
  &.alert-notice {
    @include alert-mixin(#FFFFFF, #FFFFFF);
  }
}
