@mixin button($color, $text-color:initial) {
  @include block-shadow($color, 0.8);
  background-color: $color;
  color: $text-color;
}

@mixin button-outline($color, $text-color:white) {
  @include block-shadow($color);
  color: $color!important;
  text-transform: capitalize;
  border: 2px solid $color;
  box-sizing: border-box;
  &:hover {
    background-color: $color;
    color: $text-color!important;
  }
  &:active {
    box-shadow: none;
  }
}

@mixin button-shine($color, $text-color:initial) {
  @include block-shadow-lg($color);
  background-color: $color;
  color: $text-color;
}

.btn {
  font-size: 18px!important;
  padding-top: 11px!important;
  padding-bottom: 11px!important;
  border-radius: $border-radius-lg;

  &.btn-lg {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
  }

  &.btn-sm {
    font-size: 15px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
  }

  &.btn-primary {
    @include button($violet, #fff);
  }
  &.btn-outline-primary {
    @include button-outline($violet);
  }

  &.btn-violet {
    @include button($violet, #fff);
  }
  &.btn-outline-violet {
    @include button-outline($violet);
  }

  &.btn-green {
    @include button($green, #fff);
  }
  &.btn-outline-green {
    @include button-outline($green);
  }
  &.btn-green-shine {
    @include button-shine($green);
  }

  &.btn-outline-light-dark {
    @include button-outline(#483d66);
  }

  &.btn-light-green {
    @include button($light-green, black);
  }
  &.btn-outline-light-green {
    @include button-outline($light-green, black);
  }

  &.btn-google {
    @include button-outline(#DB4437);
    text-shadow: 0 0 10px rgba(#DB4437, 0.7);
  }

  &.btn-facebook {
    @include button-outline(#4267B2);
    text-shadow: 0 0 10px rgba(#4267B2, 0.7);
  }
  &:active {
    box-shadow: none!important;
  }
}
