@import "custom";
@import "base";
@import "variables";
@import "mixins";
@import "materialinput";

.btn {
  font-size: 18px!important;
  padding-top: 11px!important;
  padding-bottom: 11px!important;

  &.btn-lg {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
  }

  &.btn-primary {
    @include button($primary);
  }
  &.btn-outline-primary {
    @include button-outline($primary);
  }

  &.btn-green {
    @include button($green);
  }
  &.btn-outline-green {
    @include button-outline($green);
  }
  &.btn-green-shine {
    @include button-shine($green);
  }

  &.btn-light-green {
    @include button($light-green, black);
  }
  &.btn-outline-light-green {
    @include button-outline($light-green, black);
  }

  &.btn-google {
    @include button-outline(#DB4437);
    text-shadow: 0 0 10px rgba(#DB4437, 0.7);
  }

  &.btn-facebook {
    @include button-outline(#4267B2);
    text-shadow: 0 0 10px rgba(#4267B2, 0.7);
  }
  &:active {
    box-shadow: none!important;
  }
}
