@import "variables";
@import "text";
@import "mixins";

@mixin item-mixin($color) {
  text-decoration: none!important;
  transition: all 0.3s ease;
  background-color: $dark;
  border-radius: $border-radius-lg;
  border: 3px solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    height: 85%;
    margin-left: -3px;
    position: absolute;
    border-radius: 9px;
    border-left: 3px solid $color;
    box-shadow: 0 0 10px rgba($color, 0.8);
  }
  .content {
    font-size: $custom-font-size;
    font-weight: 500;
    .price {
      font-size: $custom-font-size-lg;
    }
  }
  &:hover {
    border: 3px solid $color;
    @include block-shadow($color, 0.8);
    @extend .text-light-gray;
  }
}

.item {
  @include item-mixin($violet);
}
.item-ad {
  @include item-mixin($orange);
}
