@import "../components/variables";
@import "../components/text";

.page-nav {
  border-radius: $border-radius-md;
  background-color: $dark;
  h1 {
    font-weight: 900;
    font-size: 36px;
    @include text-stroke-shadow($green, 2px, 0.5, 20px);
  }
}
