@import "../components/variables";
@import "../components/text";
@import "../../../node_modules/bootstrap/scss/variables";

.page-nav {
  border-radius: $border-radius-md;
  background-color: $dark;
  h1 {
    font-weight: 900;
    @include text-stroke-shadow($green, 1.5px, 0.4, 20px);
  }
}
