@import "../components/mixins";
@import "../components/variables";


@mixin progress-mixin($color) {
  background-color: rgba($color, 0.2);
  overflow: visible!important;
  .progress-bar {
    background-color: $color;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba($color, 0.6);
  }
}

.progress {
  &.progress-tiny {
    width: 100px;
    height: 6px;
  }
  &.bg-light-green {
    @include progress-mixin($light-green);
  }
  &.bg-yellow {
    @include progress-mixin($yellow);
  }
  &.bg-light-red {
    @include progress-mixin($light-red);
  }
}
