@import "../components/mixins";
@import "../components/variables";

@mixin text-stroke-shadow($color, $width, $glow:0.8, $shadow-size:36px) {
  color: transparent;
  -webkit-text-stroke: $width $color;
  text-shadow: 0 0 $shadow-size rgba($color,$glow);
}

@mixin text-glow-mixin($color) {
  color: $color;
  text-shadow: 0 0 10px rgba($color, 0.8);
}
.text-gray {
  color: rgba(#fff, 0.5);
}
.text-light-gray {
  color: rgba(#fff, 0.7);
}

.text-green {
  color: $green;
}
.text-glow-green {
  @include text-glow-mixin($green);
}
.text-glow-yellow {
  @include text-glow-mixin($yellow);
}
.text-light-red {
  color: $light-red;
}
.text-glow-light-red {
  @include text-glow-mixin($light-red);
}
