@import "variables";

.user-image-container {
  position: relative;
  .user-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    &.user-image-sm {
      width: 30px;
      height: 30px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  &.online {
    &:before {
      background: $green;
      box-shadow: 0 0 10px rgba($green, 0.8);
    }
  }
  &.offline {
    &:before {
      background: $light-red;
      box-shadow: 0 0 10px rgba($light-red, 0.8);
    }
  }
}
