$dark: #1B1628;
$semi-dark: #231D33;
$light-dark: #272541;
$green: #40D04F;
$light-green: #AEFF01;
$violet: #7750F8;
$yellow: #FFC701;
$orange: #FF9901;
$blue: #56CCF2;
$red: #DE0404;
$light-red: #DB214D;
$gray: rgba(#fff, 0.5);
$light-gray: rgba(#fff, 0.7);

$border-radius-md: 8px;
$border-radius-lg: 10px;

$custom-font-size: 14px;
$custom-font-size-lg: 24px;
