@import "../components/mixins";
@import "../components/variables";

body {
  font-size: 16px;
  color: #fff;
  background: url("../../images/auth/largePlanetBg.png") no-repeat center 70%;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#scene {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.bg-image {
  position: absolute;
  &.planet-1 {
    margin-top: 45vh;
    margin-left: -5vw;
  }
  &.planet-2 {
    margin-top: -8vh;
    margin-left: -10vw;
  }
  &.planet-3 {
    margin-top: 4vh;
    margin-left: 29vw;
  }
  &.planet-4 {
    margin-top: -3vh;
    margin-left: 84vw;
  }
  &.planet-5 {
    margin-top: 45vh;
    margin-left: 52vw;
  }
}

.fg-image {
  position: absolute;
  z-index: 20;
  &.planet-1 {
    top: -13%;
    left: 3%;
  }
  &.planet-2 {
    bottom: 14%;
    left: 94%;
  }
  &.spaceShuttle {
    bottom: 0;
    left: 0;
  }
  &.spaceShuttle {
    bottom: 15%;
    left: -3%;
    transform: rotate(50deg);
  }
}

canvas {
  pointer-events:none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}

.content {
  padding: 0 12% 0 0;
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50vh;
    p {
      padding: 0 18%;
    }
  }
}

//material input
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
.material-input {
  position: relative;
  margin-top: 7px;
  @include size(366px, 60px);
  label {
    margin: 18px 0 0 12px;
  }
}

.text-grey {
  opacity: 0.7;
}

.pre-heading {
  font-weight: 600;
  font-size: 24px;
}
h1 {
  @include text-stroke-shadow($yellow, 4px, 0.3);
  font-weight: 900;
  font-size: 96px;
  text-transform: uppercase;
}

.btn-group {
  z-index: 0;
  .btn {
    @include button-outline($violet);
    &.active {
      color: #fff!important;
      @include button($violet);
    }
  }
}

.form-container {
  width: 100%;
  border-radius: .6rem;
  background-color: $dark;
  padding: 50px 60px 36px;
}
