@import "../components/variables";
@import "../components/text";

.page-nav {
  form {
    width: 70%;
    .material-input {
      height: 50px;
    }
    .price-container {
      width: 140%;
      input {
        padding-top: 2px;
        padding-left: 30px;
      }
    }
  }
}
