@import "../components/mixins";
@import "../components/variables";
@import "../components/layout";
@import "../components/text";

body {
  background-color: $semi-dark;
  @extend .text-gray;
}

.chart-container {
  background-color: $dark;
  border-radius: $border-radius-lg;
  padding: 30px;
  color: rgba(255, 255, 255, 0.4);
  .arrow_box {
    background-color: $dark;
    border: 2px solid $violet;
    color: $violet;
    padding: 0 5px;
  }
  .focus-options {
    span {
      cursor: pointer;
      margin: 0 15px;
      &.active {
        @include text-glow-mixin($violet);
      }
    }
  }
  #chart {
  }
}

.image-slider {
  position: relative;
  .image-preview {
    img {
      height: 430px;
      object-fit: cover;
      border-radius: $border-radius-lg;
    }
  }
  .image-list {
    position: absolute;
    bottom: 0;
    padding: 12px 60px;
    width: 100%;
    background-color: rgba(#000, 0.5);
    //display: flex;
    //justify-content: center;
    border-radius: 0 0 $border-radius-lg $border-radius-lg;
    img {
      height: 78px;
      width: 78px;
      object-fit: cover;
      border-radius: $border-radius-lg;
      margin: 0 16px;
      border: 2px solid #fff;
    }
  }
  .slick-slide {
    outline: none;
  }
  .slick-control {
    position: absolute;
    bottom: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    padding: 0 14px;
    pointer-events: none;
    span {
      cursor: pointer;
      pointer-events: initial;

      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
      user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
    }
  }
}

@mixin outlined-nav($color) {
  cursor: pointer;
  transition: all 0.3s ease;
  background: $dark;
  border-radius: $border-radius-md;
  height: 145px;
  border: 2px solid transparent;
  .number {
    @include text-stroke-shadow($color);
  }
  &:hover {
    border: 2px solid $color;
    @include block-shadow($color);
  }
}

.game-info-panes {
  .pane {
    &.pane-violet {
      @include outlined-nav($violet);
    }
    &.pane-blue {
      @include outlined-nav($blue);
    }
    &.pane-green {
      @include outlined-nav($green);
    }
    &.pane-light-green {
      @include outlined-nav($light-green);
    }
    &.pane-light-yellow {
      @include outlined-nav($yellow);
    }
    &.pane-light-light-red {
      @include outlined-nav($light-red);
    }
  }
}
.price-pane {
  background: $light-dark;
  border-radius: $border-radius-md;
}

@mixin outlined-nav($bgColor, $color) {
  background: $bgColor;
  border-radius: $border-radius-lg;
  .nav {
    margin-bottom: -2px;
    flex-wrap: nowrap;
    display: flex;
    .badge {
      border-radius: $border-radius-lg;
    }
  }
  .nav-item {
    width: 100%;
    border: 2px solid transparent;
    opacity: 0.7;
    &.active {
      opacity: 1;
      background: $bgColor;
      border-radius: $border-radius-lg $border-radius-lg 0 0;
      border: 2px solid $color;
      border-bottom: none $bgColor;
      @include text-glow-mixin($color);
      font-weight: bold;
    }
  }
  .tab-content {
    border: 2px solid $color;
    border-radius: 0 0 $border-radius-md $border-radius-md;
    .content {
      margin: 30px;
    }
  }
}

.outlined-nav-violet {
  @include outlined-nav($dark, $violet);
}
.outlined-nav-green {
  @include outlined-nav($dark, $green);
}

.review {
  border: 2px solid #393052;
  border-radius: $border-radius-lg;
  .control {
    opacity: 0.6;
  }
}

.author {
  background-color: $dark;
  border-radius: $border-radius-md;
}

