.main-header {
  color: rgba(255, 255, 255, 0.35);
  font-weight: 600;
  font-size: 14px;
  background-color: $dark;
  border-radius: $border-radius-md;
  .balance-number {
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width: 992px) {
  main {
    margin-left: 0;
    padding: 15px 0 15px 10px;
  }
}
