@import "header";
@import "menu";

body {
  background-color: $semi-dark;
  @extend .text-gray;
}

main {
  min-height: 100vh;
  transition: all 0.3s ease;
  margin-left: 280px;
  padding: 20px 36px;
}


@media screen and (min-width: 992px) {
  .collapsed {
    main {
      margin: 0 0 0 96px;
    }
  }
}

@media screen and (max-width: 992px) {
  main {
    margin-left: 0;
    padding: 15px 0 15px 10px;
  }
  .collapsed {
    main {
      height: 100vh;
      overflow: hidden;
    }
  }
}
