.material-textarea-wrapper {
  position: relative;
  height: $input-height-normal;
  width: 100%;
  border: 2px solid $light-dark;
  border-radius: $border-radius-lg;
  padding: 16px 20px;
  display: flex;

  .placeholder {
    z-index: 5;
    transition: all .1s linear;
    background: $dark;
    color: $gray-500;
    font-size: 16px;
    position: absolute;
    line-height: 1em;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
  }

  textarea {
    padding: 0;
    margin: 0;
    resize: none;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    line-height: 1em;
    z-index: 8;
  }

  &:focus-within, &.active {
    .placeholder {
      transform: translate(0, -100%);
      font-size: $small-font-size;
      line-height: 2.5em;
      padding: 0 10px;
    }
  }

  &:focus-within {
    @include block-shadow($green);
    border-color: $green;

    .placeholder {
      color: $gray-200;
    }
  }
}

.material-textarea-wrapper {
  @include media-breakpoint-up(xxxl) {
    &.material-textarea-lg {
      height: $input-height-large;
      .placeholder {
        font-size: $h5-font-size;
      }
      &:focus-within, &.active {
        .placeholder {
          font-size: $h6-font-size;
        }
      }
    }
  }

  &.material-textarea-sm {
    height: $input-height-small;
    padding: 8px 20px;

    textarea {
      line-height: 1.4em;
    }

    .placeholder {
      font-size: unset;
      line-height: unset;
    }

    &:focus-within, &.active {
      .placeholder {
        font-size: $small-font-size;
      }
    }
  }

  &.material-textarea-violet {
    &:focus-within {
      @include block-shadow($violet);
      border-color: $violet;
    }
  }
}


