.page-nav {
  border-radius: $border-radius-lg;
  background-color: $dark;
  padding: 15px 30px;
  h1 {
    font-weight: 900;
    @include text-stroke-shadow($green, 1.5px, 0.4, 20px);
  }
  @media screen and (max-width: 992px) {
    h1 {
      font-size: $h3-font-size;
    }
  }
}
